.header nav {
  display: flex;
  align-items: flex-start;
  background-color: var(--malta);
  justify-content: space-between;
}

.profileIcon {
  padding: 20px;
}

.profileIcon * {
  cursor: pointer;
}
