.confirmation {
  padding: 5px;
  margin: 20px 0;
  cursor: pointer;
  font-size: 15px;
  border-radius: 5px;
  background: var(--cotton-candy);
}

.product {
  gap: 10px;
  width: 200px;
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
}

.calendar {
  gap: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.calendar div input {
  width: 200px;
}
